<!doctype html>
<html lang="en" class="default">
<head>
	<meta charset="utf-8">
	<title>Layout</title>
	<link rel="stylesheet" href="global.css">
</head>
<body class="loading">
	<div class="page">
		<div class="center js-dashboard">
			<div class="page-middle">
				<div class="dashboard-main"></div>
				<div class="dashboard-side"></div>
			</div>
			<div class="dashboard-footer"></div>
		</div>
		<div class="center js-messages">
			<div class="messages-main"></div>
			<div class="messages-side"></div>
		</div>
		<div class="center js-tasks">
			<div class="tasks-main"></div>
		</div>
		<div class="center js-reports">
			<div class="reports-main"></div>
			<div class="reports-side"></div>
		</div>
		<div class="center js-settings">
			<div class="settings-side"></div>
			<div class="settings-main">
				<div class="settings-personal"></div>
				<div class="settings-business"></div>
				<div class="settings-users"></div>
				<div class="settings-helpdesk"></div>
				<div class="settings-queue"></div>
				<div class="settings-billing"></div>
				<div class="settings-goodies"></div>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="panel">
			<div class="center"></div>
		</div>
		<div class="master">
			<div class="center"></div>
		</div>
		<div class="utility">
			<div class="center"></div>
		</div>
		<div class="primary">
			<div class="center"></div>
		</div>
	</div>
	<div class="modal">
		<div class="dark js-dark"></div>
		<div class="light js-light"></div>
		<div class="scrodal js-scrodal"></div>
		<div class="tallboy js-tallboy"></div>
	</div>
	<div class="states">
		<ul class="states-offset">
			<li class="state" data-state="dashboard">Dashboard</li>
			<li class="state" data-state="messages">Messages</li>
			<li class="state" data-state="tasks">Tasks</li>
			<li class="state" data-state="reports">Reports</li>
			<li class="state" data-state="settings">Settings</li>
			<li class="state" data-state="dark">Dark Modal</li>
			<li class="state" data-state="light">Light Modal</li>
			<li class="state" data-state="scrodal">Scrodal</li>
			<li class="state" data-state="tallboy">Tall Boy</li>
		</ul>
	</div>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="brotado.js"></script>
</body>
</html>
