@import '../messages/messages.css';

.content { padding: 120px 0 30px; }

.drag-main { width: 670px; float: left; }
.drag-side { width: 440px; float: right; }

.message {
	cursor: move;
	transition: none; 
}

.buckets { display: none; }
.tasks-bucket,
.sales-bucket,
.support-bucket {
	height: 220px;
	border: 10px dashed #ddd;
	box-sizing: border-box;
	color: #bbb;
	line-height: 200px;
	font-size: 36px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: lowercase;
}

.this-bucket-is-fucking-ready { background: #ddd; }

.ui-draggable-dragging,
.ui-draggable-dropped { -webkit-transform: rotate(3deg) scale(.7); }
.ui-draggable-dragging .message-bubble { box-shadow: 0 5px 20px rgba(0,0,0,.2); }
