
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: #eee;
	color: #555;
	font: 14px/1 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body { min-height: 100%; margin: 0; }

h1,
h2,
h3,
p { margin: 0; }
a { color: #16a; cursor: pointer; text-decoration: none; }
img { vertical-align: bottom; }

input,
textarea {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 16px;
	margin: 0;
	resize: none;
	-webkit-font-smoothing: inherit;
}

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

.center { width: 1180px; margin: 0 auto; padding: 0 20px; }
.center:after { clear: both; content: ''; display: table; }

.messages-main { width: 670px; float: left; }

.side { width: 440px; float: right; position: relative; }
.side-shadow {
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.side-content {
	height: 100%;
	background: #fff;
	position: relative;
}
.side-overflow {
	height: 100%;
	overflow-y: hidden;
	position: relative;
}
.side-content:hover .side-overflow { overflow-y: auto; }
.side-fade-top,
.side-fade-bottom { width: 100%; height: 25px; position: absolute; left: 0; }
.side-fade-top { top: 0; background: url(images/side-fade-top.png); }
.side-fade-bottom { bottom: 0; background: url(images/side-fade-bottom.png); }

::-webkit-input-placeholder { line-height: normal; }
/*::-webkit-scrollbar { width: 6px; transition: .3s; }*/
::-webkit-scrollbar-track { background: transparent; }
/*::-webkit-scrollbar-thumb { background: rgba(0,0,0,.2); border-radius: 3px; }*/

/*  Typography  */

.smallcaps-title {
	color: #bbb;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1;
	text-transform: uppercase;
}

/*  Icons  */

/*.twitter-icon,
.facebook-icon,
.google-icon { display: block; position: absolute; }
.twitter-icon { background: #0ae; }
.facebook-icon { background: #359; }
.google-icon { background: #d43; }*/

/*  Modals  */

.modal-open { height: 100%; overflow: hidden; }
.modal {
	width: 100%; height: 100%;
	background: rgba(0,0,0,.7);
	display: none;
	overflow-y: scroll;
	position: fixed;
	top: 0; left: 0;
}

.modal-header { padding: 20px; }
.modal-title {
	color: #777;
	font-size: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.modal-body { margin-bottom: 30px; padding: 0 30px; }
.modal-footer { line-height: 30px; padding: 0 30px 20px; }
.modal-footer:after { clear: both; content: ''; display: table; }
.modal-message { color: #777; float: left; }
.modal-actions { float: right; }
.modal-dismiss { color: #bbb; margin-right: 10px; text-transform: lowercase; }
.modal-dismiss:hover { border-bottom: 1px solid #bbb; color: #999; }

.tallboy { 
	width: 720px; min-height: 100%;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 90px;
	position: relative;
}
.tallboy .modal-footer {
	width: 720px; height: 70px;
	background: #eee;
	padding: 20px;
	position: fixed;
	bottom: 0;
}

/*  Buttons  */

.modal-submit {
	background: #6b2;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0 15px;
	text-transform: uppercase;
}
.modal-submit:hover { background: #76c239; }
.modal-submit:active { position: relative; top: 1px; }

/*  Forms  */

[type=checkbox],
[type=radio] {
	width: 20px; height: 20px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	cursor: pointer;
	margin: 0;
	position: relative;
	-webkit-appearance: none;
}
[type=checkbox]:active,
[type=radio]:active,
[type=checkbox]:disabled,
[type=radio]:disabled { background: #eee; }
[type=checkbox] { border-radius: 3px; }
[type=checkbox]:checked::after {
	width: 25%; height: 50%;
	border: 0 solid #555;
	border-width: 0 3px 3px 0;
	content: '';
	position: absolute;
	left: 5px; top: 2px;
	-webkit-transform: rotate(45deg);
}
[type=radio] { border-radius: 50%; }
[type=radio]:checked::after {
	width: 8px; height: 8px;
	background: #555;
	border-radius: 4px;
	content: '';
	position: absolute;
	left: 5px; top: 5px;
}

/*  Errors  */

.error {
	background: #d43;
	color: #fff;
	display: none;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 10px 10px 30px;
	position: relative;
}
.error:after {
	color: #a32;
	content: '⚑';
	font-size: 24px;
	position: absolute;
	top: 6px; left: 10px;
	-webkit-transform: scale(-1, 1);
}

/*  Temporary!!!  */

.messages-main.empty {
	height: 2000px;
	border: 1px dotted #bbb;
	color: #bbb;
	font-size: 24px;
	font-weight: 300;
	line-height: 1000px;
	text-align: center;
}

.demo {
	width: 100%;
	background: rgba(255,255,255,.8);
	font-size: 16px;
	padding: 20px;
	position: fixed;
	bottom: 0; left: 0;
	text-align: center;
}
.demo a { margin: 0 10px; }

/*  Colorful Tasks  */

.content { padding: 120px 0 30px; }

.tasks-main { width: 670px; float: left; }
.tasks-side {
	width: 440px;
	background: #fff;
	box-sizing: border-box;
	float: right;
	padding: 20px;
}

.task { margin-bottom: 20px; }
.task-recent {
	background: #fff;
	padding: 15px 20px;
	position: relative;
}
.task-type {
	width: 40px; height: 40px;
	background: #ddd;
	position: absolute;
	top: 0; left: -40px;
}
.task-recent-text {
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.task-recent-from { color: #bbb; line-height: 20px; }

.task-twitter,
.task-facebook,
.task-google,
.task-sprout { color: #fff; padding: 15px 20px 15px 100px; position: relative; }
.task-twitter { background: #0ae; }
.task-facebook { background: #369; }
.task-google { background: #d43; }
.task-sprout { background: #6b2; }
.task-avatar { width: 80px; height: 80px; position: absolute; top: 0; left: 0; }
.task-text {
	font-size: 18px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.task-from { line-height: 20px; }
