@import '../shared.css';

.content { padding: 120px 0 30px; }

.blur .content,
.blur .header {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

/*  Settings  */

.settings { width: 250px; float: left; }
.settings-name {
	border-bottom: 1px solid #bbb;
	font-size: 24px;
	font-weight: normal;
	line-height: 49px;
	margin-bottom: 20px;
}
.settings-link {
	color: inherit;
	display: block;
	font-size: 16px;
	line-height: 40px;
	padding-left: 50px;
}
.settings-link:hover,
.settings-link.selected { background: #fff; }
.settings-link.selected { font-weight: 600; }

/*  Users + Social Profiles  */

.permissions {
	width: 860px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	float: right;
}
.permissions:after { clear: both; content: ''; display: table; }

.people { width: 250px; background: #eee; float: left; }
.profiles { width: 610px; float: left; }

.people, .profiles { height: 1000px; /* until real content is in */ }

/*  Connect Modal  */

.connect .modal-header { background: #eee; line-height: 30px; }

.modal-header:after { clear: both; content: ''; display: table; }
.connect .modal-title { float: left; }
.group-select-stub {
	width: 240px; height: 30px;
	background: #ddd;
	border: 0;
	border-radius: 0;
	color: inherit;
	float: right;
	font: inherit;
	padding: 0 10px;
	-webkit-appearance: none;
}

.connect-list { background: #eee; }
.connect-list:after { clear: both; content: ''; display: table; }
.connect-item {
	width: 120px; height: 110px;
	border-bottom: 3px solid #ddd;
	color: #777;
	float: left;
	padding: 20px;
	position: relative;
	text-align: center;
}
.connect-item:hover { background: #f6f6f6; border-color: #eee; }
.connect-item.selected { color: #fff; }
.connect-item-twitter.selected { background: #0ae; border-color: #0099d7; }
.connect-item-facebook.selected { background: #359; border-color: #2e4d8a; }
.connect-item-google.selected { background: #d43; border-color: #c73d2e; }
.connect-item-linkedin.selected { background: #07b; border-color: #006ba9; }
.connect-item-analytics.selected { background: #f93; border-color: #e68a2e; }
.connect-item-feedly.selected { background: #6b2; border-color: #5ca91f; }
.connect-item-icon {
	width: 40px; height: 40px;
	background: url(connect.svg) no-repeat;
	display: block;
	margin: 5px auto 10px;
}
.analytics-icon-407 { background-position: -160px 0; }
.connect-item-analytics.selected .connect-item-icon { background-position: -160px -40px; }
.facebook-icon-407 { background-position: -40px 0; }
.connect-item-facebook.selected .connect-item-icon { background-position: -40px -40px; }
.feedly-icon-407 { background-position: -200px 0; }
.connect-item-feedly.selected .connect-item-icon { background-position: -200px -40px; }
.google-icon-407 { background-position: -80px 0; }
.connect-item-google.selected .connect-item-icon { background-position: -80px -40px; }
.linkedin-icon-407 { background-position: -120px 0; }
.connect-item-linkedin.selected .connect-item-icon { background-position: -120px -40px; }
.twitter-icon-407 { background-position: 0 0; }
.connect-item-twitter.selected .connect-item-icon { background-position: 0 -40px; }
.connect-item-label {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
}

.connect-view { display: none; padding: 50px 80px; text-align: center; }
.connect-title { font-size: 24px; margin-bottom: 10px; }
.connect-instructions {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 20px;
}
.connect-link { display: block; font-size: 16px; margin-bottom: 20px; }
.connect-image { margin-bottom: 30px; }
.connect-image-stub {
	width: 400px; height: 300px;
	background: #444;
	margin: 0 auto 20px;
}
.connect-action {
	background: #16a;
	border-radius: 25px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	margin: 0 100px;
	padding: 0 25px;
}
.connect-action:hover { background: #2875b2; }

.connect-choose { padding-top: 20px; }

/*  Finish Modal  */

.finish .modal-header { background: #eee; }

.finish-view { padding: 50px; text-align: center; }
.finish-avatar { width: 60px; height: 60px; margin-bottom: 30px; }
.finish-title { margin-bottom: 10px; }
.finish-subtitle { text-align: center; }
.finish-info { margin-bottom: 20px; }

.compact-profiles .profiles-td {
	height: 40px; width: 90px;
	padding: 0;
	text-align: center;
}
.compact-profiles .profiles-td:first-child {
	width: 280px;
	line-height: 40px;
	text-align: left;
}
.compact-profiles .profile-avatar {
	width: 40px; height: 40px;
	float: left;
	margin-right: 10px;
}
.compact-profiles .profile-name { margin: 0; }

.finish-profile {
	width: 320px; height: 50px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	margin: 0 auto 20px;
	position: relative;
	text-align: left;
}
.finish-profile:after {
	width: 5px; height: 15px;
	border: 0 solid #bbb;
	border-width: 0 3px 3px 0;
	content: '';
	position: absolute;
	top: 14px; right: 20px;
	-webkit-transform: rotate(45deg);
}
.finish-profile .profile-avatar {
	width: 50px; height: 50px;
	float: left;
	margin-right: 20px;
}
.finish-profile .profile-name { line-height: 30px; }
.finish-profile .profile-handle { display: block; }

/*  Invite Modal  */

.invite {
	width: 700px; min-height: 100%;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 110px;
	position: relative;
}
.invite .modal-header { background: #eee; }
.invite .modal-body:nth-child(2) { background: #eee; padding-bottom: 30px; }
.invite-subtitle { font-size: 12px; margin-top: 5px; }
.invite .modal-footer {
	width: 100%;
	background: #eee;
	padding: 30px;
	position: absolute;
	bottom: 0; left: 0;
}

.invite-form { margin-bottom: 20px; }
.invite-first,
.invite-last,
.invite-email { border-top: 1px solid #bbb; margin-right: 6px; padding: 10px; }
.invite-first,
.invite-last { width: 150px; }
.invite-email { width: 280px; }
.add-icon {
	width: 30px; height: 30px;
	background: #6b2 url(permissions.svg) 0 -100px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	margin-bottom: 5px;
	vertical-align: bottom;
}

.invite-access,
.invite-manage {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.invite-access {
	border-right: 1px solid #bbb;
	margin-right: 20px;
	padding: 0 40px 0 100px;
}
.invite-manage { padding-left: 90px; }
.invite-access-icon,
.invite-manage-icon {
	width: 80px; height: 100px;
	background: url(permissions.svg);
	display: block;
	position: absolute;
	top: 0; left: 0;
}
.invite-access-icon { background-position: -10px 0; }
.invite-manage-icon { background-position: -110px 0; }
.invite-pair { padding: 10px 0 10px 25px; position: relative; }
.invite-checkbox { position: absolute; top: 6px; left: 0; }

.invite-groups .modal-title { margin-bottom: 20px; }
.invite-group {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	line-height: 30px;
	opacity: .3;
	margin: 0 6px 10px 0;
	padding: 0 15px 0 34px;
	position: relative;
}
.invite-group:after {
	width: 16px; height: 12px;
	background: url(permissions.svg) -37px -110px;
	content: '';
	position: absolute;
	top: 9px; left: 10px;
}
.invite-group:hover { opacity: .5; }
.invite-group.selected { opacity: 1; }

.invite-profiles { margin: 0; }
.profiles-tr:nth-child(even) { background: #eee; }
.profiles-tr.disabled { opacity: .3; }
.profiles-th,
.profiles-td { text-align: center; }
.profiles-th { color: #777; font-size: 12px; padding: 10px 0; }
.profiles-td { height: 60px; width: 90px; padding: 10px; }
.profiles-th:first-child,
.profiles-td:first-child { width: 280px; text-align: left; }
.profiles-th:first-child {
	font-size: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.profiles-bulk { cursor: pointer; }
.profiles-bulk:hover { border-bottom: 1px solid #777; }

.invite-profiles .profile-avatar {
	width: 40px; height: 40px;
	float: left;
	margin-right: 10px;
}
.profile-name { font-size: 16px; font-weight: bold; margin-bottom: 5px; }
.profile-handle { color: #777; font-size: 12px; }

.no-access:checked::after {
	height: 4px;
	background: #d43;
	border-radius: 0;
	top: 7px;
}

/*  Migrate Modal  */

.migrate {
	width: 720px; min-height: 100%;
	background: #eee;
	margin: 0 auto;
}
.migrate-lead {
	background: #fff;
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 30px;
	padding: 25px 30px;
}
.migrate-table { width: 100%; border-collapse: collapse; border-spacing: 0; }
.migrate-tr:nth-child(even) { background: #fff; }
.migrate-th {
	font-size: 12px;
	letter-spacing: 1px;
	padding: 100px 7px 20px;
	text-transform: uppercase;
	vertical-align: bottom;
}
.migrate-td { padding: 6px 7px; text-align: center; }
.migrate-who { font-weight: bold; text-align: left; }
.migrate-checkbox {
	width: 18px; height: 18px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	box-shadow: inset 0 2px #bbb;
	cursor: pointer;
	margin: 0;
	position: relative;
	vertical-align: bottom;
	-webkit-appearance: none;
}
.migrate-checkbox:active { background: #eee; }
.migrate-checkbox:checked::after {
	width: 25%; height: 50%;
	border: 0 solid #555;
	border-width: 0 3px 3px 0;
	content: '';
	position: absolute;
	left: 4px; top: 2px;
	-webkit-transform: rotate(45deg);
}
.migrate-actions { padding: 30px; text-align: right; }
.migrate-dismiss { color: #999; margin-right: 15px; text-transform: lowercase; }
.migrate-done {
	width: 100px;
	background: #6b2;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
}
.migrate-done:hover { background: #76c239; }
